body {
    font-family: 'Poppins', sans-serif;
    background-color: #282531;
    color: #F8FFFB;
}

.sec1 {
    padding-top: .5vw;
}

.element {
    font-weight: 700;
    color: rgb(255, 255, 255);
}

.kalar {
    background-color: #282531;
}

#itm {
    color: #F8FFFB;
}

.sec4 {
    padding-top: 5vw;
    margin-bottom: 5vw;
}

.sec4 .card {
    padding-top: 1vw;
    border-radius: 4%;
    border: none;
    box-shadow: 2px 9px 20px lightgrey;
    width: 100%;
    height: 100%;
}

.sec4 h3 {
    font-size: 2vw;
    color: black;
}

.sec4 a {
    text-decoration: none;
    font-weight: 700;
}

.sec6 p {
    color: white;
}

.set6 {
    float: left;
    width: 16%;
}

.kalar2 {
    background-color: #060213;
}