body {
    font-family: 'Poppins', sans-serif;
    background-color: #282531;
    color: #F8FFFB;
}

.sec1 {
    padding-top: .5vw;
}

.element {
    font-weight: 700;
    color: rgb(255, 255, 255);
}

.kalar {
    background-color: #282531;
}

#itm {
    color: #F8FFFB;
}

.set6 {
    float: left;
    width: 16%;
}

.sec6 p {
    color: white;
}

#itm3 {
    text-decoration: none;
    font-weight: 600;
    color: rgb(179, 178, 178);
    font-size: 90%;
}

.sec2 {
    margin: 10%;
    padding-top: 100px;
    padding-bottom: 100px;
}

.kalar2 {
    background-color: #060213;
}