body {
    font-family: 'Poppins', sans-serif;
    background-color: #282531;
    color: #F8FFFB;
    overflow-x: hidden;
}

.sec1 {
    padding-top: .5vw;
}

.element {
    font-weight: 700;
    color: rgb(255, 255, 255);
}

.kalar {
    background-color: #282531;
}

#itm {
    color: #F8FFFB;
}

.set {
    float: left;
    width: 40%;
}

.pro {
    width: 20%;
}

.sec2 h1 {
    font-size: 2.5vw;
}

.sec2 h2 {
    font-size: 1.5vw;
}

.sec2 h3,
h4,
h5 {
    font-size: 1vw;
}

.sec2 {
    margin-top: 5vw;
    margin-bottom: 15vw;
}

.sec6 p {
    color: white;
}

.kalar2 {
    background-color: #060213;
}