<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sahal</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/education.css">

</head>

<body>

    <section class="kalar">

        <div class="container-fluid sec1 kalar2">
            <div class="row">
                <nav class="navbar navbar-expand-sm navbar-dark">
                    <div class="col-lg-1">
                        <a class="navbar-nav" href="/index.html"><img src="../resource/abc.jpg" alt="" style=" margin-left: 2vw; width: 50px;"></a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                    </div>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <div class="col-lg-11">
                            <ul class="navbar-nav justify-content-end element">
                                <li class="nav-item px-3">
                                    <a id="itm" class="nav-link" aria-current="page" href="../index.html">Home</a>
                                </li>
                                <li class="nav-item px-3">
                                    <a id="itm" class="nav-link" href="education.html">Education</a>
                                </li>
                                <li class="nav-item px-3">
                                    <a id="itm" class="nav-link" href="work.html">Work</a>
                                </li>
                                <li class="nav-item px-3">
                                    <a id="itm" class="nav-link" href="blog.html">Blog</a>
                                </li>
                                <li class="nav-item px-3">
                                    <a id="itm" class="nav-link" href="contact.html">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </section>



    <section class="edu">
        <div class="sec2">
            <div class="row" style="margin-bottom: 20px;margin-top: 20px;">
                <div class="col-lg-2 set pro">
                    <img style="width: 8vw;margin-left: 6vw;margin-top: 25px;" src="../resource/ju.png" alt="">
                </div>
                <div class="col-lg-10 set" style="margin-top: 15px;">
                    <h1>Jahangirnagar University</h1>
                    <h2>IIT - Institute of Information Technology</h2>
                    <h4>Bachelor of Science in Information Technology</h4>
                    <h5>February 2018 - Present</h5>
                    <h5>Savar, Dhaka, Bangladesh</h5>
                </div>
            </div>
            <div class="row" style="margin-bottom: 20px;margin-top: 20px;">
                <div class="col-lg-2 set pro">
                    <img style="width: 9vw;margin-left: 6vw;margin-top: 15px;" src="../resource/vdc.png" alt="">
                </div>
                <div class="col-lg-10 set" style="margin-top: 15px;">
                    <h1>Notre Dame College</h1>
                    <h4>HSC ~ Science</h4>
                    <h5>2015 - 2017</h5>
                    <h5>Dhaka, Bangladesh</h5>
                </div>
            </div>
            <div class="row" style="margin-bottom: 20px;margin-top: 20px;">
                <div class="col-lg-2 set pro">
                    <img style="width: 7vw;margin-left: 6.5vw;margin-top: 15px;" src="../resource/frii.png" alt="">
                </div>
                <div class="col-lg-10 set" style="margin-top: 15px;">
                    <h1>Faizur Rahman Ideal Institute</h1>
                    <h4>SSC ~ Science</h4>
                    <h5>2007 - 2014</h5>
                    <h5>Dhaka, Bangladesh</h5>
                </div>
            </div>
        </div>

    </section>



    <section class="kalar2">
        <div class="container sec6">
            <div class="row ">
                <div class="col-md-2  d-flex justify-content-center set6">
                    <div class="div">
                        <a href="https://www.linkedin.com/in/me-sahal/"><img style="height: 5.2vw;width: 5.2vw; margin-top: 90px;" src="../resource/linkedin.png" alt=""></a>

                    </div>
                </div>
                <div class="col-md-2  d-flex justify-content-center set6">
                    <div class="div">
                        <a href="https://www.facebook.com/profile.php?id=100009204558204"><img style="height: 5vw;width: 5vw;margin-top: 90px;border-radius: 20%;" src="../resource/facebook.jpg" alt=""></a>

                    </div>
                </div>
                <div class="col-md-2  d-flex justify-content-center set6">
                    <div class="div">
                        <a href="https://twitter.com/me__sahal"><img style="height: 5.2vw;width: 5.2vw;margin-top: 90px;" src="../resource/twitter.png" alt=""></a>

                    </div>
                </div>
                <div class="col-md-2  d-flex justify-content-center set6">
                    <div class="div">
                        <a href="https://www.instagram.com/me__sahal/"><img style="height: 5vw;width: 5vw;margin-top: 90px;" src="../resource/insta.png" alt=""></a>

                    </div>
                </div>
                <div class="col-md-2  d-flex justify-content-center set6">
                    <div class="div">
                        <a href="https://github.com/Sahal2000"><img style="height: 5.1vw;width: 5.1vw;margin-top: 90px;border-radius: 20%;" src="../resource/github.png" alt=""></a>

                    </div>
                </div>
                <div class="col-md-2  d-flex justify-content-center set6">
                    <div class="div">
                        <a href="https://www.quora.com/profile/Md-Sahal-2"><img style="height: 5.5vw;width: 5.5vw;margin-top: 90px;border-radius: 35%;" src="../resource/quora.png" alt=""></a>

                    </div>
                </div>
            </div>
        </div>
        <div class="container" style="padding-bottom: 2%;padding-top: 3%;">
            <p style="text-align: center;color: white;">Copyright © me-sahal</p>
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
</body>

</html>